@use "@/colors"

component
  flex: 0 0 20px
  display: flex
  align-items: center
  column-gap: 1rem
  padding: 0 0.5rem
  font-size: 0.625rem
  color: var(--color-dark)
  background-color: color-mix(in srgb, var(--color-green) 20%, black)
  border-bottom: 0.5px solid color-mix(in srgb, var(--color-green) 30%, black)

  > .room-label
    display: flex
    align-items: center
    color: var(--color-green)
    column-gap: 0.25em

    > .room-name
      cursor: pointer
      white-space: nowrap

  > .user
    display: flex
    align-items: center
    gap: 0.35em
    white-space: nowrap

    > .dot
      min-width: 6px
      min-height: 6px
      border-radius: 50%
      flex-shrink: 0

    &.self
      color: var(--color-bright)