component
  display: flex
  align-items: center
  column-gap: 0.5em
  font-size: 0.625rem
  white-space: nowrap
  opacity: 0.7

  > span.up
    color: var(--color-orange)

  > span.down
    color: var(--color-green)
