@use "tokens" as *

component
  font-size: $fs-m
  text-transform: uppercase
  letter-spacing: 0.06em
  color: var(--color-cream)
  align-items: center
  column-gap: 0.35em
  margin-bottom: 0.5em
  border-radius: 2px
  padding: 2px 4px
  background-color: rgba(black, 0.25)
  display: inline-flex
  width: max-content

  > svg
    width: 13px
    height: 13px
