component
  display: flex
  align-items: center
  column-gap: 1em
  padding: 0 0.25em

  &.disabled
    opacity: 0.3
    pointer-events: none

  > .input
    font-size: 1em

  > .playback-modes
    display: flex
    pointer-events: none
    border-radius: 3px
    background-color: rgba(black, 0.6)