component
  width: 100%
  display: flex
  justify-content: center
  svg
    width: 100%
    height: auto
    .note
      font-size: 13px
      font-weight: 600
    .cents
      font-size: 7px
      fill: hsl(197, 20%, 60%)
    .scale
      stroke: hsl(197, 12%, 40%)
      stroke-width: 1
    .tick-centre
      stroke: hsl(197, 15%, 55%)
      stroke-width: 1
    .tick
      stroke: hsl(197, 12%, 40%)
      stroke-width: 1
