component
  display: flex
  flex-direction: column
  height: 100%
  outline: none

  .navigation
    flex: 1
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    row-gap: 0.5rem

    .back-button
      display: grid
      place-items: center
      font-size: 0.75em
      width: 20px
      height: 20px
      border-radius: 10px
      cursor: pointer
      color: var(--color-shadow)
      background-color: rgba(white, 0.04)

      &:hover
        color: var(--color-blue)
        background-color: rgba(white, 0.08)

      > svg
        transform: translateY(-1px)

  .entry-numbers
    display: grid
    grid-template-columns: repeat(4, min-content)
    gap: 2px
    padding: 0 0.25rem

    .entry-number
      flex: 0 0 20px
      display: grid
      font-size: 0.625em
      width: 20px
      height: 20px
      place-items: center
      border-radius: 10px
      color: var(--color-shadow)
      background-color: rgba(black, 0.08)
      cursor: pointer

      &.current
        color: var(--color-blue)
        background-color: rgba(white, 0.08)

  .header
    margin: 0
    height: 2rem
    display: flex
    align-items: center
    padding: 0 0.25rem
    font-size: 11px
    color: var(--color-blue)
    outline: none

    &.selected
      border-radius: 0 0 3px 3px
      background-color: rgba(white, 0.03)

    > h1
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      font-size: inherit
      letter-spacing: 0.03em
      min-height: 2rem
      line-height: 2rem
      margin: 0

  .controls
    display: flex
    align-items: center
    justify-content: center
    column-gap: 0.3em
    padding: 0.375em 0.25rem

    .channel-mix
      display: flex
      flex-direction: row
      font-size: 0.625em
      column-gap: 0.375em

    .channel-isolation
      display: flex
      flex-direction: row
      font-size: 0.5em
      column-gap: 0.5em
