component
  box-sizing: border-box
  width: 42px
  height: 42px
  padding: 14px 0 0 14px
  background-color: transparent
  pointer-events: none

  > div.badge
    box-sizing: border-box
    width: 28px
    height: 28px
    border-radius: 50%
    color: rgba(black, 0.85)
    font-family: system-ui, sans-serif
    font-size: 13px
    font-weight: 600
    display: flex
    align-items: center
    justify-content: center
    box-shadow: 0 2px 6px rgba(black, 0.4)
